.container{
    background-color: var(--white-base);
    padding: 50px;

    border-radius: 15px;
}

.content{

}

    .textSection{
        color: var(--black-base);
    }

    .dropdownSection{
        display: flex;
        flex-direction: column;

        gap: 10px;
    }

        .dropdownContainer{
            display: flex;
            justify-content: space-between;
        }

            .dropdown{
                background-color: var(--white-500);
                width: 300px;
                padding: 5px 15px;

                border-radius: 5px;

                cursor: pointer;
                

                &:focus{
                    outline: 2px solid var(--blue-base);
                }
            }

    .buttonsSection{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }

        .btn{
            padding: 10px;

            flex-grow: 1;
            
            border: 1px solid currentColor;
            border-radius: 15px;

            cursor: pointer;

            transition: all 200ms ease-out;

            &.cancel{
                color: var(--black-base);
            }

            &.confirm{
                background-color: var(--green-700);
                color: var(--white-base);
            }

            &:hover{
                filter: brightness(1.2);
                scale: 1.02;
            }
            &:active{
                filter: brightness(0.9);
                scale: 0.99;
            }
            &:disabled{
                filter: brightness(0.8);
                cursor: default;
                pointer-events: none;
            }
        }