.nodeContainer{
    background-color: white;

    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
    
    .nodeContainer[data-selected='true']{
        outline: 1px solid blue;
    }

        .nodeContainer[data-selected='true'] .buttons{
            opacity: 100;
        }

        .nodeContainer[data-selected='false'] .buttons {
        }

.label{
    font-size: 1em;
}

.node{

}

.parentNode{
    padding: 30px 20px;
}

.childNode{
    width: 100% !important;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid gainsboro;
}
    
        .buttons{
            position: relative;
            
            display: flex;
            align-items: center;
            gap: 3px;
            
            border: 1px solid red;

            opacity: 0;
        }

            .customButton{
                width: 1em !important;
                height: 1em !important;
                border-radius: 3px !important;
            }
            
            .leafBtn{
                background-color: red;
                display: block;
            }

            .handleWrapper{
                position: relative;
            }
            
            .handleBtn{
                width: 100%;
                height: 100%;
                background-color: red;
                position: absolute;
            }

.clearHandle{
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    border-radius: 0px !important;
    position: absolute !important;
    top: 0 !important;
    transform: none !important;
}


