.bubbleContainer{
    max-width: 500px;
    min-width: 150px;
    width: fit-content;
    padding: 7px 15px;

    border-radius: 5px;

    text-align: left;

    position: relative;

    &.sender{
        background-color: var(--blue-700);
        color: var(--white-base);
        
        align-self: flex-end;
    }

    &.receiver{
        background-color: var(--white-500);
        color: var(--black-base);
    }
    
    & .triangle{
        width: 15px;
        height: 15px;
        
        position: absolute;
        bottom: 10px;
    }
    
    &.sender .triangle{
        clip-path: polygon(0 10%, 0% 100%, 40% 100%);
        background-color: var(--blue-700);

        right: -15px;
    }

    &.receiver .triangle{
        clip-path: polygon(100% 10%, 100% 100%, 60% 100%);
        background-color: var(--white-500);

        left: -15px;
    }

    & .time{
        opacity: 50%;
        margin-top: 3px;
        text-align: right;
    }
}